body {
  margin: 0;
  font-family: 'Inter', sans-serif;

}

nav {
  background: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #FFF;
  font-size: 14.461px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

svg {
  margin-right: 10px;
}

main {
  margin: 2% auto;
  width: 80%;
}

.cover-image {
  margin-right: 2%;
}

.cover-image>img {
  border-radius: 5px;
  object-fit: cover;
  width: 245px;
  height: 300px;
}


.travel-card {
  display: flex;
}

.travel-meta {
  display: flex;
  justify-content: left;
  align-items: center;

}

.travel-meta>h6 {
  margin-right: 1%;
  color: #2B283A;
  font-size: 12.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.travel-meta>a {
  color: #918E9B;
  font-size: 12.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin: 0;
}

.travel--title {
  color: #2B283A;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
}

.travel--date {
  color: #2B283A;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.travel--description {

  color: #2B283A;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

hr {

  width: 478px;
  height: 1px;
  background: #F5F5F5;

}
